 /* Custom styles */
 #header-container, #footer-container, aside {
	background-color: #f16529;
	color: white;
  }

  #header-container {
	border-bottom: 20px solid #e44d26;
  }

  #footer-container {
	border-top: 20px solid #e44d26;
	padding: 20px 0;
  }

  aside {
	padding: 20px;
	border-top: 20px solid #e44d26;
  }

  article {
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  }

  h1, h3 {
	margin: 0;
  }
  nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
  }

  nav li {
	list-style: none;
  }

  nav a {
	display: block;
	padding: 15px;
	background-color: #e44d26;
	color: white;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
  }

  nav a:hover {
	background-color: #f16529;
	text-decoration: underline;
  }
  #news-form {
	background-color: #f16529; /* Color de fondo similar */
	padding: 20px;
	border-radius: 5px;
	margin-top: 20px;
  }
  
  #news-form h2 {
	color: white;
  }
  
  #news-form .form-label {
	color: white;
  }
  
  #news-form input, #news-form textarea, #news-form select {
	background-color: white;
	border: none;
	padding: 10px;
	margin-bottom: 10px;
  }
  
  #news-form button {
	background-color: #e44d26;
	color: white;
	border: none;
	padding: 10px 20px;
  }
  
  #news-form button:hover {
	background-color: #f16529;
  }
  #news-form {
	display: none;
  }
  #aside-section article {
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#aside-section h2 {
    font-size: 1.25rem;
}
